<article class="quote">
  <div class="text">
    <a href="{{author}}" target="_blank">{{text}}</a>
    <span>({{author}})</span>
  </div>
  <div class="meta">
    {{liked_count}}
    {{format_plural "point" liked_count}}
    by
    {{user.username}}
    on
    {{format_date created_at}}
    |
    <a href="/quote/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>